<!doctype HTML>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/pagestyle.css">

    <title>Client Notes</title>
  </head>
<nav>

  <div class="topnav">
    <a href="index.html">Home</a>

  </div>
  </nav>

  <body class="bodyClass">
  <main id="clientsMain">
    <div v-for="c in client"><h2 align="center">{{ c.clientName }} Notes</h2></div>


  <div class="row">
    <div class="col">
        <table class="table table-striped table-lg" id="table">
        <thead>
        <tr>
          <th>
            Client Notes
          </th>
        </tr>
        </thead>
        <tbody v-for="n in clientNotes">
          <td>
            {{ n.notes }}
          </td>
      </tbody>
      </table>
    </div>
    <div class="col">
    <form id="newNoteForm" @submit.prevent="handleNoteForm">

        <div class="form-group row">
          <label for="client" class="col-sm-2 col-form-label">Client ID: </label>
          <div class="col-sm-3 col-md-2 col-lg-2">
              <input type="number" id="client" v-model="noteForm.clientId" class="form-control" placeholder="Enter Client ID" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="employee" class="col-sm-2 col-form-label">Employee ID: </label>
          <div class="col-sm-3 col-md-2 col-lg-2">
              <input type="number" id="employee" v-model="noteForm.employeeId" class="form-control" placeholder="Enter Employee ID" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="notes" class="col-sm-2 col-form-label">Client Notes: </label>

          <div class="col-sm-8">
            <input type="text" id="notes" style="height: 300px;" v-model="noteForm.notes" class="form-control" placeholder="Enter Client Notes" required>

          </div>
        </div>

        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button id="submitNewNote" type="submit" class="btn btn-primary">Submit Note</button>
    </form>
  </div>

  </div>

</main>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/cummins.app.js"></script>

  </body>
  </html>
